<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img (click)="cerrarSesion()" class="btn-cerrar" src="https://static.thenounproject.com/png/29386-200.png" alt="" width="48px" height="48px">
        {{autenticador.usuarioActual.email}}
    </ion-title>

  </ion-toolbar>
  <div style="text-align: center;">
    <ion-text style="color: white;">Juego de memoria</ion-text>
  </div>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="boton" tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="game-controller"></ion-icon>
      <ion-label>Pantalla principal</ion-label>
    </ion-tab-button>

    <ion-tab-button class="boton" tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>Los mejores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
